
.content_box {
    color: @slate3;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    h4 {
        font-size: 20px;
    }

    .device_switcher {
        padding: 0 0 20px 545px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        text-align: center;
        width: 100%;

        ul {
            background: white;
            border: 1px solid darken(@slate1a, 5);
            border-radius: 50px;
            display: inline-flex;
            padding: 8px 10px 10px;
        }

        li {
            color: @slate3;
            cursor: pointer;
            font-size: 14px;
            flex-grow: 1;
            margin: 0 15px;

            &.active,
            &:hover {
                color: @purple;
                border-bottom: 2px solid @purple;
                padding-bottom: 1px;
            }
        }

        i {
            margin-right: 5px;
        }
    }

    .widget_holder {
        color: lightgrey;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        overflow-y: scroll;
        padding: 20px 0 0;
    }

    .widget {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        max-width: 800px;

        &.empty {
            color: @slate2;

            i {
                font-size: 40px;
                margin-bottom: 20px;
            }

            h4 {
                max-width: 300px;
            }

            .gallery {
                border: 1px solid @slate1;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                flex-direction: column;
                margin: 25px 0 10px;
            }
        }

        &:after {
            content: '';
            height: 30px;
        }

        &.photowall {
            color: @slate7;
        }

        &.mobile {
            border-radius: 18px;
            border: 10px solid black;
            height: 60vh;
            max-height: 500px;
            margin-top: 15vh;
            max-width: 280px;
            overflow-y: scroll;
            padding: 0 8px;

            .header {
                margin-top: 20px;
                z-index: 2;

                h4 {
                    font-size: 18px;
                }
            }     

            .pinboard.gallery {
                column-count: 2;
                column-gap: 10px;
                margin-bottom: 80px;
                z-index: 2;

                li {
                    margin-bottom: 8px;
                }
                
                li:nth-child(1),
                li:nth-child(11),
                li:nth-child(8),
                li:nth-child(17),
                li:nth-child(4) {
                    padding-top: 160px;
                }

                li:nth-child(16) {
                    padding-top: 200px;
                }  
            }

            .photowall.gallery {
                li {
                    margin-bottom: 2px;
                    padding-top: 48%;
                    width: 48%;
                }

                li:last-child {
                    display: block;
                }
            }
        }

        &.tablet {
            border-radius: 24px;
            border: 12px solid black;
            height: 80vh;
            max-height: 760px;
            margin-top: 5vh;
            max-width: 500px;
            overflow-y: scroll;
            padding: 0 15px;

            .header {
                margin-top: 20px;
                z-index: 2;
            }

            .gallery {
                li {
                    margin-bottom: 3px;

                    img {
                        border-radius: 5px;
                    }
                }
            }

            .pinboard.gallery {
                column-count: 3;
                column-gap: 10px;
                margin-bottom: 80px;
                z-index: 2;

                li:nth-child(1),
                li:nth-child(11),
                li:nth-child(8),
                li:nth-child(17),
                li:nth-child(4) {
                    padding-top: 180px;
                }

                li:nth-child(16) {
                    padding-top: 220px;
                }
            }

            .photowall.gallery {
                li {
                    padding-top: 31.33%;
                    width: 31.33%;
                }

                li:last-child {
                    display: block;
                }
            }
        }
    }

    .header {
        color: black;

        i {
            font-size: 14px;
            margin-right: 8px;
        }

        .add_photo_btn {
            border: none;
            color: black;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    .gallery {
        margin-bottom: 80px;

        li {
            height: 0;
            padding-top: 23%;
            margin: 1%;
            width: 23%;
            position: relative;
        }

        .photo_item {
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .black-and-white.gallery {
        filter: grayscale(100%);
    }

    .photowall.gallery {
        display: flex;
        flex-wrap: wrap;

        li:last-child {
            display: none;
        }
    }

    .pinboard.gallery {
        display: block;
        column-count: 4;

        li {
            break-inside: avoid;
            margin-bottom: 16px;
            padding-top: 100%;
            width: 100%;

            &:first-child {
                margin-top: 0;
            }

            img {
                border-radius: 6px;
            }
        }

        li:nth-child(1),
        li:nth-child(11),
        li:nth-child(8),
        li:nth-child(17) {
            padding-top: 300px;
        }

        li:nth-child(2),
        li:nth-child(5) {
            padding-top: 140px;
        }

        li:nth-child(7),
        li:nth-child(9),
        li:nth-child(14) {
            padding-top: 120px;
        }

        li:nth-child(16) {
            padding-top: 260px;
        }

        li:nth-child(4) {
            padding-top: 220px;
        }
    }

    .mosaic.gallery {
        display: block;
        position: relative;

        li {
            display: inline-block;
            float: left;
        }

        li:nth-child(3n+3) {
            width: 48%;
            padding-top: 48%;
        }

        li:nth-child(4) {
            position: absolute;
            top: 12.5%;
            left: 0;
        }

        li:nth-child(5) {
            position: absolute;
            top: 12.5%;
            left: 25%;
        }

        li:nth-child(10) {
            position: absolute;
            top: 50%;
            left: 0;
        }

        li:nth-child(11) {
            position: absolute;
            top: 50%;
            left: 25%;
        }

        li:nth-child(16) {
            position: absolute;
            top: 87.5%;
            left: 0;
        }

        li:nth-child(17) {
            position: absolute;
            top: 87.5%;
            left: 25%;
        }
    }

    .empty_album {
        border: 1px solid @slate1;
        color: @slate2;
        flex-grow: 1;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            font-size: 60px;
        }

        h5 {
            font-size: 18px;
            margin-top: 30px;
            max-width: 300px;
        }
    }
}